nav.orange
  .nav-wrapper
    a.brand-logo(href="#") Evernode
    ul.right
      li
        a(href="/notes") All Notes
      li
        a(href="/categories") All Categories
      li
        a(href="/notes/new") New Note <i class="fa fa-sticky-note-o"></i>
      li
        a(href="/notes/new") New Category <i class="fa fa-list"></i>

