include ./includes/head.jade
body
  div#main.card
    h1 EverNode
    h2 You're looking at Categories. Want to start a new topic? Click below.
    a(href="/categories/new") Start a conversation!
    ul
      each category in categories
        li
          a(href='/categories/#{category._id}') #{category.title}
          p - #{category.description}

  include ./includes/scripts.jade