include ./includes/head.jade
body
  include ./includes/navBar.jade
  div#main.card
    h4 Leave a <a href="/notes/new">note</a> or browse <a href="/notes">All Entries<a>
    h5 Don't see a topic you're intersted in? <a href="/categories/new"> Start a conversation! </a>
    ul
      each category in categories
        li
          a(href='/categories/#{category._id}') <i class="fa fa-list"></i> #{category.title}
          p - #{category.description}

  include ./includes/scripts.jade