doctype html
html
  include ./includes/head.jade
  body
    div#main
      h1 Hello World. This is EverNode
      a(href="/notes/new") Leave a note!
      ul
        - for (var i = 0; i < notes.length; ++i) {
          li <a href="/notes/#{notes[i]._id}">#{notes[i].title}</a> by #{notes[i].author}
        - }


    include ./includes/scripts.jade