include ./includes/head.jade
body
  div#main.card
    h1 New Category
    - if (category) {category.override = "/" + category._id + "/?_method=PUT"}
    - var item = category || {title: '', description: '', override: ""}
    form(method="POST", action="/categories#{item.override}")
      .input-group
        label(for='title') Title
        input#title(type='text' name='title' value="#{item.title}")
      .input-group
        label(for='description') description
        input#description(type='text' name='description' value="#{item.description}")
      .input-group
        input(type='submit', value='Save')

  include ./includes/scripts.jade