doctype html
html
  include ./includes/head.jade
  body
    div#main
      p #{note.title}
      p by #{note.author}
      p #{note.text}

    form(method='POST' action="/notes/#{note._id}?_method=DELETE")
      input(type='submit', value='Delete')
    include ./includes/scripts.jade